


    .author-badge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    }

/* @media only screen and (max-width: 1050px){
    .author-badge-container {
     
     width: 150px;
     height: 20px;
     
    }
    }
@media only screen and (max-width: 630px){
    .author-badge-container {
     padding: 1em;
     width: 150px;
     height: 15px;
     
    }
    } */


/* .author-badge-container {
    display: flex;
    margin-top: 50px;
} */


.author-badge-image {
    width: 70px;
    height: 70px;
    border-radius: 70%;
    
    
}
 @media only screen and (max-width: 1050px){
    .author-badge-image {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    
    

}} 

@media only screen and (max-width: 480px){
    .author-badge-image {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 7px;
    
    

}} 


@media only screen and (max-width: 1050px){
    .badge-details{
    font-size: 10px;
     
    }
}

@media only screen and (max-width: 480px){
    .badge-details{
    font-size: 7px;
     
    }
} 

.btn-send-message {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    
    }
    
    .btn-send-message:hover {
        color: #fb3;
    }

