

 .new-adversite {
 width: 450px; 
margin: 0 auto;
padding: 2em;
margin-bottom: 10em;

}

@media only screen and (max-width: 850px){
    .new-adversite {
    width: 400px;
    margin: 0 auto;
    padding: 3em;
    font-size: .8rem; 
        
    }
}

@media only screen and (max-width: 580px){
    .new-adversite {
    width: 250px;
    margin: 0 auto;
    padding: 3em;
        
    }
}

@media only screen and (max-width: 350px){
    .new-adversite {
    width: 220px;
    font-size: .7rem;
    margin: 0 auto;
    padding: 3em;
        
    }
}




.new-adversite h1 {
padding: .5em;
text-align: center;
}

@media only screen and (max-width: 850px){
    .new-adversite h1 {
    font-size: 1.4rem;
        
    }
}

@media only screen and (max-width: 580px){
    .new-adversite h1 {
    font-size: 1rem;
        
    }
}

.new-adversite p {
    color: #5e5c5c;
    
}  

@media only screen and (max-width: 580px){
    .new-adversite p{
    font-size: .8rem;
        
    }
}
