.search-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 2em;
  }
  
  .search-box label {
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight: bold;
  }
  
  .search-box input {
      padding: 0.7em 2em;
      border-radius: 0;
      border: none;
  }


  .search-box input::placeholder{
      color: #7b7b7b;
  }
  
  .btn-search {
    background-color: #222;
    color: #fff;
    padding: 0.7em 1.4em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    
    }
    
    .btn-search:hover {
        color: #fb3;
    }





/* @media (min-width: 576px) {
.label{
font-size:18px;

}



.Busca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:32px;
  }

  .txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:15px;
    border:none;
    height:32px;
    width:191px;
  }

  .btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:102px;
    font-weight:bold;
    background:#75c7ca;
  }
} */