.search-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  margin-left: 2em;
  }
  

  .search-box label {
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight: bold;
  }

  @media only screen and (max-width: 480px){
    .search-box label{
      font-size: .7rem;
    }
  }

  .search-box input {
      padding: 0.7em 2em;
      border-radius: 0;
      border: none;
      
  }

  @media only screen and (max-width: 850px){
    .search-box input{
      font-size: .7rem;
    }
  }

  @media only screen and (max-width: 420px){
    .search-box input{
      font-size: .5rem;
    }
  }


  .search-box input::placeholder{
      color: #7b7b7b;
  }
  
  .btn-search {
    background-color: #222;
    color: #fff;
    padding: 0.7em 2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    
    }
    
    @media only screen and (max-width: 850px){
      .btn-search{
        font-size: .7rem;
      }
    }

    @media only screen and (max-width: 420px){
      .btn-search{
        font-size: .5rem;
      }
    }

    .btn-search:hover {
        color: #fb3;
    }





