.project-card {
   
    justify-content: center;
    align-items: center;
    padding: 2em; 
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 40%;
    margin: 1em; 
    background-color: rgb(208, 212, 216);

}

 @media only screen and (max-width: 1410px){
    .project-card {
        width: 35%;
        

}} 

 @media only screen and (max-width: 910px){
    .project-card {
        width: 32%;
        

}} 

@media only screen and (max-width: 700px){
    .project-card {
        width: 60%;
        

}} 

 @media only screen and (max-width: 480px){
    .project-card {
        padding: .5em; 
        width: 80%;


}}  

.project-card h3 {
    background-color: #969292;
    color: #000000;
    padding: .4em;
    margin-bottom: 1.3em;
    font-size: 1rem;
}

@media only screen and (max-width: 760px){
    .project-card h3 {
        font-size: .9rem;
}}

@media only screen and (max-width: 480px){
    .project-card h3 {
        font-size: .8rem;
}}
.project-card p {
    display: flex;
    align-items: center;
    color: #4b4848;
    margin-bottom: 1em;
}

@media only screen and (max-width: 760px){
    .project-card p {
        font-size: 0.7rem;


}}

.category-text {
    display: flex;
    align-items: center;
}