 .main {
    background-color: #bdb6b6;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}  

/* .main{
      
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */

