.featured-post-main{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    
     
}

.featured-post-container {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 6em;
    
    
}

@media only screen and (max-width: 1400px){
    .featured-post-container {
        margin: 0 auto;
        
        
    }
}

.featured-post-container div:nth-child(2) {
    max-width: 30vw;
    
}

.featured-post-imagem {
  width: 35vw;
  height: 22vw;
  border-radius: 6px;
  object-fit: cover; 
  
    
} 


.featured-post-category {
    font-size: 0.8rem;
    color: #4d4f53;
} 



.featured-post-title {
    margin-top: 20px;
} 

@media only screen and (max-width: 1050px){
    .featured-post-title {
        font-size: 1rem;

    }
} 
@media only screen and (max-width: 570px){
    .featured-post-title {
        font-size: .9rem;

    }
}  

@media only screen and (max-width: 465px){
    .featured-post-title {
        font-size: .5rem;

    }
}  

 .featured-post-description {

    margin-top: 20px;
    color: #222830;
    font-size: 1rem;
    
} 

 @media only screen and (max-width: 1050px){
    .featured-post-description {
        margin-top: 10px;
        font-size: .8rem;

    }
}

@media only screen and (max-width: 630px){
    .featured-post-description {
        margin-top: 4px;
        font-size: .5rem;

    }
}


.send-message {
    margin-top: 30px;

} 