


.featured-post-container {
 display: flex;
justify-content: space-evenly;
color: #151618;
margin-top: 80px;
background-size: cover;
flex-wrap: wrap;

}




.featured-post-container div:nth-child(2) {
    max-width: 30vw;
}

.featured-post-imagem {
margin-top: 20px;
  width: 38vw;
  height: 25vw;
  border-radius: 6px;
  object-fit: cover; 
    
}

@media only screen and (max-width: 620px){
    .featured-post-imagem {
        width: 45vw;
        height: 28vw;
        border-radius: 6px;
        object-fit: cover; 

    }
} 






.featured-post-category {
    font-size: 0.8rem;
    color: #4d4f53;
}

@media only screen and (max-width: 1050px){
    .featured-post-category {
        font-size: .7rem;

    }
}
@media only screen and (max-width: 630px){
    .featured-post-category {
        font-size: .6rem;

    }
}

.featured-post-title {
    margin-top: 20px;
}

 @media only screen and (max-width: 770px){
    .featured-post-title {
        font-size: 1rem;

    }
} 
@media only screen and (max-width: 570px){
    .featured-post-title {
        font-size: .9rem;

    }
} 

.featured-post-description {
    margin-top: 20px;
    color: #222830;
    font-size: 1.3rem;
}

@media only screen and (max-width: 1050px){
    .featured-post-description {
        font-size: .8rem;

    }
}

@media only screen and (max-width: 630px){
    .featured-post-description {
        font-size: .6rem;

    }
}





.send-message {
    margin-top: 30px;

}